@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@font-face {
    font-family: "SpaceGrotesk-Light";
    src: url("/public/fonts/SpaceGrotesk-Light.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "SpaceGrotesk-Regular";
    src: url("/public/fonts/SpaceGrotesk-Regular.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "SpaceGrotesk-Medium";
    src: url("/public/fonts/SpaceGrotesk-Medium.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "SpaceGrotesk-Semibold";
    src: url("/public/fonts/SpaceGrotesk-Semibold.woff2") format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "SpaceGrotesk-Bold";
    src: url("/public/fonts/SpaceGrotesk-Bold.woff2") format('woff2');
    font-display: swap;
}

.font-CoconPro {
    font-family: 'SpaceGrotesk-Semibold', sans-serif;
}

.font-DINPro {
    font-family: 'SpaceGrotesk-Regular', sans-serif;
}

.font-DINPro-light {
    font-family: 'SpaceGrotesk-Light', sans-serif;
}

.font-DINPro-medium {
    font-family: 'SpaceGrotesk-Medium', sans-serif;
}

.font-DINPro-bold {
    font-family: 'SpaceGrotesk-Bold', sans-serif;
}




.markdown h1 {
    font-size: xx-large;
    color: darkgray;
}

.markdown h2 {
    font-size: x-large;
    color: darkgray;
    margin-top: 50px
}

.markdown h3 {
    font-size: larger;
    color: darkgray;
}

.markdown ul {
    color: gray;
    margin-bottom: 20px;
    list-style: disc;
    margin-left: 20px;
}
